body{
    background-color: papayawhip;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.milkshake{
    color: black;
    text-align: center;
    font-weight: 700;

 
   
}