body{
    background-color: rgb(190, 190, 190);
}

ul{
    font-size: 70;
    font-size: 30px;
    color: grey;
    font-family: sans-serif;
   
}

button{
    font-size: 30px;
    color: grey;
    background-color: greenyellow;
    font-weight: 700;
}

.header {
    font-size: 50;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.lemonade{
    color: yellowgreen;
}